#main {
	width: 238px;
	height: 238px;
	border: 1px solid black;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 2px 2px 15px grey;
}
#month {
	width: 238px;
	height: 30px;
	border: 1px solid black;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 2px 2px 15px grey;
	background-color: #f9f984;
	padding-bottom: 3px;
}
.cell {
	border: 1px solid grey;
	width:30px;
	height: 30px;
	float:left;
	margin: 1px;
	text-align: center;
	border-radius: 3px 3px 3px 3px;
	background-color: #e5e5e3;
}
.btn {
	height: 30px;
	width: 25px;
	border-radius: 3px 3px 3px 3px;
	float:left;
	font-size: 30px;
	font-weight: bolder;
}
.weekend {
	color: red;
}
.date {
	background-color: #f9f984;
}
.today {
	background-color: #6fd11f;
}
#monthName {
	float: left;
	height: 30px;
	width: 188px;
	text-align: center;
	font-size: 30px;
}
#info {
	width: 238px;
	height: 30px;
	text-align: center;
	font-size: 20px;
}